.infobox{
    text-align: center;

}

.cont{
    display: flex;
    justify-content: center;
}

.card{
    border: 5px solid black;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* background-color: black; */
}

.media{
    border: 5px solid black;
    border-bottom: 0px;
    border-radius:10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inline{
    display: inline;
}

.mincard{
    border: 5px solid black;
    border-top: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: aqua;
}

.res{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: 2px solid black; */
    margin: 2%;

}